[workspace]
members = ["breakwater-core", "breakwater-parser", "breakwater", "breakwater-io-uring"]
resolver = "2"

[workspace.package]
version = "0.14.0"
license = "Beerware"
authors = ["Sebastian Bernauer <bernauerse@web.de>"]
edition = "2021"
repository = "https://github.com/sernauer/breakwater"

[workspace.dependencies]
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
const_format = "0.2"
criterion = {version = "0.5", features = ["async_tokio"]}
enum_dispatch = "0.3"
env_logger = "0.11"
io-uring = "0.6"
libc = "0.2"
log = "0.4"
memadvise = "0.1"
memchr = "2.7"
num_cpus = "1.0"
number_prefix = "0.4"
page_size = "0.6"
pixelbomber = "0.6"
prometheus_exporter = "0.8"
rstest = "0.20"
rusttype = "0.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
simple_moving_average = "1.0"
snafu = "0.8"
thread-priority = "1.1"
tokio = { version = "1.37", features = ["fs", "rt-multi-thread", "net", "io-util", "macros", "process", "signal", "sync", "time"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
trait-variant = "0.1"
vncserver = "0.2"

# Uses the given path when used locally, and uses the specified version from crates.io when published.
breakwater-core = { path = "breakwater-core", version = "0.14" }
breakwater-parser = { path = "breakwater-parser", version = "0.14" }

[profile.dev]
opt-level = 3

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
# panic = "abort" # You can enable this, but I prefer to get actual stack traces

[patch.crates-io]
# https://github.com/rayylee/libvnc-rs/pull/2: Update bindgen to 0.69
# Also https://github.com/sbernauer/libvnc-rs/commit/2bf903ad64c7e33554b011eb05f96c11eadb8821 to get breakwater to build on NixOS
vncserver = { git = 'https://github.com/sbernauer/libvnc-rs.git' }
