[package]
name = "breakwater"
version = "0.0.1"
edition = "2018"

[dependencies]
tokio = { version = "1.17.0", features = ["full"] }
clap = { version = "3.0.7", features = ["derive"] }
vncserver = "0.2.2"
rusttype = "0.9.2"
number_prefix = "0.4"
prometheus = "0.13.0"
prometheus_exporter = "0.8.3"

[profile.dev]
opt-level = 3

[profile.release]
opt-level = 3

[features]
count_pixels = []
