services:
  pixelflut:
    image: sbernauer/breakwater:0.19.0
    # build: ..
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    entrypoint:
      - bash
      - -c
      - breakwater --width 1280 --height 720 --vnc-listen-address 0.0.0.0:5900
      # To also stream to owncast (disabled by default as it consumes lots of CPU)
      # Yes we use the default streaming key, I don't know how to change it in owncast
      # - echo "Waiting for owncast to be ready" && sleep 5 && breakwater --width 1920 --height 1080 --vnc-address --rtmp-address rtmp://owncast:1935/live/abc123
    ports:
      - 1234:1234 # Pixelflut
      - 5900:5900 # VNC
      - 9100:9100 # Metrics

  node-exporter:
    image: prom/node-exporter:v1.8.0
    restart: unless-stopped
    ports:
      - 9101:9101 # Metrics
    pid: host
    volumes:
      - "/:/host:ro,rslave"
    command:
      - "--path.rootfs=/host"
      - "--web.listen-address=:9101"

  prometheus:
    restart: unless-stopped
    image: prom/prometheus:v2.52.0
    volumes:
      - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "prometheus-data:/prometheus"
    ports:
      - 9090:9090 # Web UI

  grafana:
    image: grafana/grafana:10.1.10
    restart: unless-stopped
    volumes:
      - "./grafana/provisioning:/etc/grafana/provisioning/"
      - "grafana-data:/var/lib/grafana"
    ports:
      - 3000:3000 # Web UI

  # owncast:
  #   image: gabekangas/owncast:0.1.3
  #   restart: unless-stopped
  #   volumes:
  #     - "owncast-data:/app/data"
  #   ports:
  #     - 8080:8080 # Web UI

volumes:
  grafana-data:
  prometheus-data:
  owncast-data:
